<body>
    <h2> Bem-vindo ao Café SI!</h2>
    
    <p>
    Onde cada xícara conta uma história. <br>
    Descubra sabores que abraçam, aromas que encantam e momentos que aquecem. <br>
    De cafés especiais a quitutes artesanais, temos tudo para tornar seu dia mais leve e delicioso. <br>
    </p>

    <p>
    🍰 Delícias fresquinhas todos os dias <br>
    🥐 Ambiente acolhedor e Wi-Fi grátis <br>
    🎶 Música suave, conexão verdadeira <br>
    <br>
    Sinta o aroma. Prove a experiência. Viva o café. </p>

</body>
